
output {
  elasticsearch {
    {% if logstash_elasticsearch_hosts is defined %}hosts => [
      {% for host in logstash_elasticsearch_hosts|default(dict(), true) %}"{{ host.host|default("127.0.0.1") }}:{{ host.port|default("9200") }}"{% if not loop.last +%},
      {% endif %}{% endfor +%}
    ]{% endif %}
    {% if logstash_elastic_cloud is defined and logstash_elastic_cloud.id is defined %}cloud_id => "{{ logstash_elastic_cloud.id }}"{% endif +%}
    {% if logstash_elastic_cloud is defined and logstash_elastic_cloud.auth is defined %}cloud_auth => "{{ logstash_elastic_cloud.auth }}"{% endif +%}
    ecs_compatibility => "disabled"
  }
}

